{% extends "mask/obsluga.html" %}
{% block content %}

<h2> <a href="https://biuromeritum.pl/" >Biuro Rachunkowe Meritum</a>działa od 2007 roku. </h2>
    <h6>
Naszą ambicją było stworzenie miejsca, gdzie grupa specjalistów od księgowości, podatków, kadr i
        płac będzie miała możliwość świadczyć profesjonalne usługi księgowe dla małych firm z Gdyni,
        Trójmiasta i okolic. Od tamtej pory obsłużyliśmy setki zadowolonych podatników, którzy mogli
        w spokoju skupić się na prowadzeniu działalności. Przez ten czas nie staliśmy w miejscu,
        tylko stale podnosiliśmy swoje kwalifikacje i umiejętności. Wśród naszej kadry są osoby posiadające
        CERTYFIKAT KSIĘGOWY wydawany przez MINISTERSTWO FINANSÓW. Posiadamy polisy ubezpieczenia
        odpowiedzialności cywilnej zawodowej - zarówno obowiązkowe (prowadzenie ksiąg rachunkowych),
        jak i dobrowolne (prowadzenie KPiR oraz obsługa kadrowo-płacowa). Uczestniczyliśmy w kursach i
        szkoleniach, aby nadążyć za nieustannie zmieniającymi się przepisami. Nie zmieniło się tylko nasze podejście do Klienta.
        Nadal z uśmiechem pomagamy w najbardziej zawiłych sytuacjach.</h6>
    <h3> Bo księgowość to nasza pasja!</h3>

{% endblock %}