{% extends "mask/obsluga.html" %}
{% block content %}
<html>
  <head></head>
  <body>

     <div class="mb-3">
    <h2>Logowanie użytkownika</h2>
     </div>
     <div class="mb-3">
        {% if not user.is_authenticated %}
      <form class="px-4 py-3" action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"  class="btn btn-outline-dark">Zaloguj</button>
      </form>

    {% else %}
      <a>Jesteś już zalogowany jako {{ user.username }}</a>
      <ul>
        <li><a href="{% url 'mask:index'%}">Strona główna</a></li>
      </ul>
    {% endif %}

     </div>
  </body>
</html>






{% endblock %}