{% extends "mask/obsluga.html" %}
{% load widget_tweaks %}
{% block content %}
<h2>Rejestracja danych ZUS</h2>
<form  method="POST" class="ZUS-forms">
    <h3><table>
     {% csrf_token %}
        {% for labels in form %}
      <tr> <td> <h8>{{ labels.label }}</h8></td> <td><h8>{{ labels }}</h8></td> </tr>
        {% endfor %}
    </table></h3>

            <h3><button type="submit" class="btn btn-outline-dark">Zapisz</button></h3>
    {% if latest.pk %}
    <p class="showmore"><a href="{% url 'mask: detail ' pk=latest.pk %}">Show more</a></p>
    {% endif %}
    </form>

{% endblock %}